.table-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    font-size: 20px;
}

.table-whole{
    width: 98%;
    color: var(--light-secondary);
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border-radius: 2px;
    border: solid var(--light-secondary) 1px;
    background-color: var(--med-primary);
}

.table-header-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr 0.5fr 0.2fr 0.2fr;
}

.add-albums-container {
    padding: 10px 0;
    width: 98%;
    height: 98%;
    max-height: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    align-items: center;
}

.add-albums-button {
    width: 100px;
}

.table-row-body {
    width: 100%;
}

.margined {
    margin-left: 5px;
}