.button-container {
  width: 50%;
  height: 10%;
  min-height: 30px;
  min-width: 70px;
  background-color: transparent;
  color: inherit;
  border: 2px solid var(--dark-primary);
  transition: all 0.3s ease;
  border-radius: 1px;
  margin: 0 5px;
}

.button-container:hover {
  outline: none;
  border: 2px solid var(--dark-primary);
  box-shadow: 0 0 5px var(--dark-primary);
  cursor:pointer;
}

.light {
  color: var(--dark-dark);
}

.med-button {
  max-height: 40px;
  max-width: 200px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  width: 65%;
  height: 65%;
}