.login-container {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: var(--light-primary);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.side-bar-container{
    height: 100%;
    background: var(--dark-primary);
}

.login-input-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-items-container {
    width: 50%;
    height: 50%;
    max-height: 400px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--med-primary);
    box-shadow: 0 0 10px var(--med-primary);
}

.input-items {
    height: 90%;
    width: 80%;
    color: var(--light-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: var(--med-primary);
}

.input-field-container {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgb(47, 34, 53, 0.3);
    transition: all 0.3s ease;
}

.login-input {
    width: 95%;
    height: 90%;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease;
    font-size: 15px;
}

.login-input:focus {
    outline:none;
    color: var(--light-secondary);
}

.input-field-container:focus-within {
    box-shadow: 0 0 10px var(--dark-primary);
    background-color: var(--dark-primary);
}

.input-create-account {
    cursor: pointer;
}